<head>
  <title>Rang</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
  </div>
  <container>
    <div class="panel panel-clr col-md-8 col-md-offset-2">
      <div class="panel-heading panel-clr">
        <h1 class="panel-title">Terms & Conditions</h1>
      </div>
    <div class="panel-body">
      <p> 'Rang' is more than just an online store; we strive to improve your experience in discovering different crafts across India and maintain your curiosity by introducing new products straight from the hands of artisans.  On this page we have drafted the necessary information for Buyers which would help them in knowing the functionality of the website. </p>
      <p> As a buyer, you understand and accept that upon initiating a Transaction on the Website, you are entering into a legally binding and enforceable contract with the seller to purchase the items from the seller using Payment on Billing as the method of payment to pay the Transaction Price which shall be paid to the seller through your Issuing Bank. You agree and acknowledge that the Company is only a facilitator of collection and remittance of Transaction Price. No interest or any benefits whatsoever is given to or can be claimed by the Buyer on the Transaction Price collected by the Company through and of the prescribed payment methods. </p>
      <p> You may agree with the seller on the commercial terms of the Transaction including terms of Dispatch and Delivery time or any extension thereof by way of exchange of electronic records/ electronic communication by using the features as may be provided on the Website and the Transaction shall stand amended to such extent, provided that any such variation of the terms of the Transaction are not in violation of the User Agreement and the rules and policies made there under. </p>
      <h5> Payment Method: </h5>
      <p> You shall pay the Transaction Price through the available methods of payment i.e. Payment on Billing, for the Transactions conducted on the Website. You will be intimated when the Transaction Price is credited to the account of the Company, which will be confirmed by the Website. The Website shall notify the Buyer upon Payment Confirmation as provided herein. </p>
      <h5> Verification of payment: </h5>
      <p> To prevent any misuse, a payment (in whichever method) of the Transaction Price initiated by the Buyer may be flagged or kept on hold for additional checks and verification in which case the Company may contact the buyer for verification of or additional information, details, data and documents. The Company may not confirm the payment if such information, details, data and documents are false, misleading, incorrect or incomplete and consequently the Valid Card and/or the Valid Bank Account will not be charged. In such case, the Dispatch timelines will not commence until Payment Confirmation. The result of the checks and verification shall be communicated to the buyer and seller. </p>
      <p> The Company reserves the right to refuse to process Transaction Price in respect of Transactions by Buyers with a prior history of questionable charges including without limitation breach of any agreements by Buyer with the Company or breach/violation of any applicable law or any charges imposed by the Issuing Bank. </p>
      <h5> Dispatch Details: </h5>
      <p> The seller or the Company shall provide the Dispatch Details on the Website within [5] days from the Payment Confirmation or within such timelines as may be agreed upon between the buyer and seller on the Website. In case of Delivery outside India (in which case only electronic payment shall be acceptable), the Dispatch Details will be entered on the Website within [5] days of Payment Confirmation. </p>
      <h5> Delivery: </h5>
      <p> The time within which the seller or the Company is required to ensure Delivery of the items to the buyer shall be calculated from the time the seller/Company enters the Dispatch Details on the Website i.e. within 7 working days from entering the Dispatch Details for delivery within India and within 21 days from entering the Dispatch Details for delivery outside India or such other timeline as may have been agreed upon between the buyer and seller and intimated on the Website. </p>
      <h5> Refunds, Returns and exchange: </h5>
      <p> You shall be entitled to claim a refund of the Transaction Price (as your sole and exclusive remedy) within [5] days of expiry of the Delivery time (including any extension thereof) if you do not receive the Delivery within the time period agreed in the Transaction or within the time period prescribed herein, whichever is earlier. In the event you do not raise a refund claim using the Website within the prescribed time you shall be ineligible for a refund. </p>
      <p> If you fail to receive an item shipped to you on account of providing inadequate or inaccurate shipping address or your non-availability at the address provided, the Transaction will be cancelled and the item will be returned to the seller and the Company and the seller will be entitled to recover reasonable compensation for services provided and costs incurred for shipping, handling, couriering, processing your order and any other services provided to you, the remainder amount post such deductions shall be returned to you. </p>
    </div>
  </div>
  </container>
</body>