<head>
  <title>Rang</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
  </div>
  <container>
    <h6> We value your interest in us and look forward to ways of staying connected with you.</h6>
    <p> Send your order enquiries at: rang_order@gmail.com </p>
    <p> Send your fedback at: rang_feedback@gmail.com </p>
    <p> If you require immediate contact please call us on #### ## ## between 10:00am to 5:00am AEST </p>
  </container>
</body>