<head>
  <title>Rang</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
  </div>
  <container>
    <div class="panel panel-clr col-md-8 col-md-offset-2">
      <div class="panel-heading panel-clr">
        <h1 class="panel-title">Contact Us</h1>
      </div>
    <div class="panel-body">
      <p> We value your interest in us and look forward to ways of staying connected with you.</p>
      <p>Send your order enquiries at: rang_order@gmail.com </p>
      <p> Send your fedback at: rang_feedback@gmail.com </p>
      <p>If you require immediate contact please call us on 00 00 00 between 10:00am to 5:00pm AEST </p>
    </div>
  </div>
  </container>
</body>