<head>
  <title>Rang</title>
</head>

<body>
  <div class="container">
    <div class="jumbotron">
  </div>
  <container>
    <div class="panel panel-clr col-md-8 col-md-offset-2">
      <div class="panel-heading panel-clr">
        <h1 class="panel-title">About Us</h1>
      </div>
    <div class="panel-body">
      <p> 'RANG' is a premium handicraft products online store, an art repository that enables the art connoiuseur's acces to the finest handicraft products. We showcase handicraft products that embody the true essence of being hand-crafted. Each offering is a true and honest manifestation of regional art and ethnic craft. </p>
      <p> We desire to become the instrument through which the artisans can directly connect with the global audience, we desire to encourage ‘co-creation’ possibilities and a collective growth. </p>
    </div>
  </div>
  </container>
</body>